
{% extends 'base.html' %}

 {% block body %}
<div class="container">
  <center><h2>Add Your To-dos</h2><center>
  <form action="/" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Todo Title</label>
    <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Todo Description</label>
    <input type="text" class="form-control" id="desc" name="desc">
  </div>

  <button type="submit" class="btn btn-dark">ADD</button>
</form>

</div>


  <div class="container my-3">
    <center><h2> Your Todos</h2><center>


    {% if allTodo|length==0 %}

      <div class="alert alert-success" role="alert">
       Hurrayy!!! No Pending Works
      </div>


    {% else %}

      <table class="table">
  <thead>
    <tr>
      <th scope="col">SNO</th>
      <th scope="col">TITLE</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">TIME</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for todo in allTodo  %}

      <tr>
        <th scope="row"> {{loop.index}} </th>
        <td> {{todo.title}} </td>
        <td>{{todo.desc}}</td>
        <td>{{todo.date_created}}</td>
        <td>
          <a href="/update/{{todo.sno}}"><button type="button" class="btn btn-outline-dark btn-sm mx-1">UPDATE</button></a>
          <a href="/delete/{{todo.sno}}"><button type="button" class="btn btn-outline-dark btn-sm mx-1">DELETE</button></a>
        </td>
      </tr>

    {% endfor %}
    {% endif %}
  
    
    
  </tbody>
</table>
  </div>

  {% endblock body %}

