
{% extends 'base.html' %}

 {% block body %}
<div class="container my-3">
  <center><h2>Update To-dos</h2><center>
  <form action="/update/{{todo.sno}}" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Todo Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{todo.title}}" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Todo Description</label>
    <input type="text" class="form-control" id="desc" value="{{todo.desc}}" name="desc">
  </div>

    <button type="submit" class="btn btn-dark">UPDATE</button>
</form>

</div>



  {% endblock body %}

